@font-face {
  font-family: 'oxmod-snsbar-iconfont';
  /* project id 200070 */
  src: url('//at.alicdn.com/t/font_2bth5cv8f4ea5rk9.eot');
  src: url('//at.alicdn.com/t/font_2bth5cv8f4ea5rk9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2bth5cv8f4ea5rk9.woff') format('woff'), url('//at.alicdn.com/t/font_2bth5cv8f4ea5rk9.ttf') format('truetype'), url('//at.alicdn.com/t/font_2bth5cv8f4ea5rk9.svg#iconfont') format('svg');
}
.oxmod-snsbar {
  /* CSS */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(200, 200, 200, 0.7);
}
.oxmod-snsbar .snsbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
  height: 40px;
}
.oxmod-snsbar .cell {
  text-align: center;
}
.oxmod-snsbar .bt-cmt-count,
.oxmod-snsbar .bt-share,
.oxmod-snsbar .bt-fav,
.oxmod-snsbar .bt-comment {
  outline: none;
  height: 30px;
  vertical-align: middle;
}
.oxmod-snsbar .bt-comment {
  border-radius: 15px;
  border: solid 1px #ccc;
  padding: 0 30px;
  background-color: #fff;
  color: #999;
  width: 160px;
}
.oxmod-snsbar .bt-comment:before {
  font-family: 'oxmod-snsbar-iconfont';
  content: '\e70e  ';
  color: #999;
}
.oxmod-snsbar .bt-fav {
  border: none;
  background-color: transparent;
}
.oxmod-snsbar .bt-fav:before {
  font-family: 'oxmod-snsbar-iconfont';
  content: '\e7c4  ';
  color: #aaa;
  font-size: 1.5rem;
  line-height: 20px;
}
.oxmod-snsbar .bt-share {
  border: none;
  background-color: transparent;
}
.oxmod-snsbar .bt-share:before {
  font-family: 'oxmod-snsbar-iconfont';
  content: '\e89f  ';
  color: #999;
  font-size: 1.3rem;
  line-height: 20px;
}
.oxmod-snsbar .bt-cmt-count {
  height: 20px;
  line-height: 16px;
  font-size: .6rem;
  /*
    border-image-source: url("./comment-box.PNG");
    border-image-slice: 2 2 10 22;
    text-indent: -11px;
    border-image-repeat: round;
    border-width:1px 1px 4px 11px;
    */
  border: solid 1px #ED4742;
  border-radius: 2px;
  color: #ED4742;
  background-color: #fff;
  padding: 0 2px;
}
.oxmod-snsbar .bt-cmt-count:before {
  content: '';
  position: absolute;
  background: url(comment-box-sign.png);
  background-size: contain;
  width: 9px;
  height: 6px;
  margin-top: 16px;
  margin-left: 1px;
}
.oxmod-snsbar > * {
  display: none;
}
.oxmod-snsbar[data-acting='comment'] > .snsbar {
  display: none;
}
.oxmod-snsbar[data-acting='comment'] > [data-action='comment'] {
  display: block;
}
.oxmod-snsbar .commentform {
  padding: 10px;
  background-color: #eee;
}
.oxmod-snsbar .commentform .comment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 5px;
  margin: -15px 0 0;
}
.oxmod-snsbar .commentform textarea {
  resize: none;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  background-color: #fff;
}
