@font-face {
  font-family: 'oxmod-snsbar-iconfont';  /* project id 200070 */
  src: url('//at.alicdn.com/t/font_fyujie3s48kf0f6r.eot');
  src: url('//at.alicdn.com/t/font_fyujie3s48kf0f6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_fyujie3s48kf0f6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_fyujie3s48kf0f6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_fyujie3s48kf0f6r.svg#iconfont') format('svg');
}
oxtopbar,oxbottombar{

  position: fixed;
  width:100%;
  z-index: 999;
}
oxtopbar{
  top:0;
  min-height: 24px;
}
oxbottombar{
  bottom:0;
  min-height: 32px;
}
.oxmod-snsbar {
  /* CSS */
  .fixed-bottom{
   // position: fixed;
    //bottom:0;
    width:100%;
    //border:solid 1px #ddd;
    //background-image: linear-gradient(#fff, #dedede,#eee);
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(200,200,200,.7);
  }

  .snsbar{

    display: flex;
    justify-content:space-around;
    align-items:center;
    line-height: 40px;
    height:40px;
  }
  .cell{
    //display: inline-block;
    //padding:0 10px;
    //flex-shrink:1;
      //display: inline-flex;

    //vertical-align: middle;
   // flex-grow: 1;
    //flex-basis:25%;
    text-align: center;
    &:first-child{
      //flex-shrink:0;
       //flex-grow:2;
    }

  }
  .bt-cmt-count,
  .bt-share,
  .bt-fav,
  .bt-comment{
    outline: none;
    height:30px;
    vertical-align: middle;
  }

  .bt-comment{
    border-radius: 15px;
    border:solid 1px #ccc;
    padding:0 30px;
    background-color: #fff;
    color:#999;
    &:before{
      font-family: 'oxmod-snsbar-iconfont';
      content: '\e70e  ';
      color:#999;
    }
    width: 160px;
  }
  .bt-fav{
    border: none;
    background-color: transparent;

    &:before{
      font-family: 'oxmod-snsbar-iconfont';
      content: '\e7c4  ';
      color:#aaa;
      font-size:1.5rem;
      line-height: 20px;
    }

  }
  .bt-faved{

    &:before{
      content: '\e60c  ';
      color:#f60;
    }
  }
  .bt-share{
    border: none;
    background-color: transparent;
    &:before{
      font-family: 'oxmod-snsbar-iconfont';
      content: '\e89f  ';
      color:#999;
      font-size:1.3rem;
      line-height: 20px;
    }
  }
  .bt-cmt-count{
    //border:solid 1px #c00;
    height: 20px;
    line-height: 16px;
    font-size:.6rem;
    min-width: 24px;
    /*
    border-image-source: url("./comment-box.PNG");
    border-image-slice: 2 2 10 22;
    text-indent: -11px;
    border-image-repeat: round;
    border-width:1px 1px 4px 11px;
    */

    border:solid 1px #ED4742;
    border-radius: 2px;

    color:#ED4742;
    background-color: #fff;
    padding:0 7px;
    &:before{
      content:'';
      position: absolute;
      background: url(comment-box-sign.png);
      background-size: contain;
      width:9px;
      height:6px;
      margin-top:16px;
      margin-left:-3px;

    }

  }

  [data-anchor]{
    display: none;
  }
  [data-acting='comment']{
    >.snsbar{
      display: none;
    }
    >[data-anchor='comment']{
      display: block;
    }
  }
  [data-acting='share']{
    >.snsbar{
      display: none;
    }
    >[data-anchor='share']{
      display: block;
    }
  }

  .commentform{
    padding: 10px;
    background-color: #eee;
    .comment-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:10px 0 5px;
      margin:-15px 0 0;
    }
    textarea {
      resize: none;
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      padding: 5px;
      border:none;
      background-color: #fff;
    }
  }
  .shareform{
    background: #eee;
  }
  .share-icons{
    padding:10px;
    background: #fff;
  }
  .lk-share{
    display: inline-block;
    font-size:.6rem;
    text-align: center;
    margin-right:20px;
    line-height: 1.2;
    color:#666;
    i{
      display: inline-block;
      width:40px;
      height:40px;
      border-radius: 50%;

      text-align: center;
      color:#fff;
      font-size:1.6rem;
      font-style: normal;
      vertical-align: top;
      margin-bottom: 10px;

    }
  }
  .lk-share-wx{
    background-color: #00ca5e;
    line-height: 40px;
    &:before{
      content: '\e603';
      font-family: oxmod-snsbar-iconfont;
    }
  }
  .lk-share-pyq{
    background-color: #65e137;
    line-height: 40px;
    &:before{
      font-size:24px;
      content: '\e644';
      font-family: oxmod-snsbar-iconfont;
    }
  }
  .lk-share-wb{
    background-color: #ff475a;
    line-height: 38px;
    &:before{
      font-size:24px;
      content: '\e60a';
      font-family: oxmod-snsbar-iconfont;
    }
  }
  .lk-share-zfb{
    background-color: #66a0ff;
    line-height: 30px;
    &:before{
      font-size:18px;
      content: '\e602';
      font-family: oxmod-snsbar-iconfont;
    }
  }
  .bottom-btn{
    margin-top:10px;
    background: #fff;
    button{
      width:100%;
      height:36px;
      background: #fff;
      border:solid 1px #fff;
    }

  }
  
  .commentlist .title {
    padding: 10px;
    background-color: #eee;
    border: solid 1px #e2e2e2;
    margin-bottom: 10px;
    font-size: 1rem;
    border-style: solid none;
    color: #888;
    font-weight: 400;
  }
  .comment-li {
    padding-left: 60px;
    color: #333;
    margin-bottom: 5px;
    .time{
      font-size:.8em;
      color:#999;
    }
  }
  .comment-li .pic {
    float: left;
    margin-left: -50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .comment-li .user-name {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.6;
  }
  .comment-li .user-tag {
    color: #999;
    font-size: .6rem;
  }
  .comment-li .content {
    line-height: 1.4;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 1rem;
    font-weight: 400;
    /*
      border-image: linear-gradient(#ccc, transparent) 1 1;
      border-style:none;
      border-bottom: solid 1px #ccc;
      */
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.5);
    /*
  border-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiPnH8zH/G////MzAxAAHTyRNn/wMEGABpvQm9g9TJ1QAAAABJRU5ErkJggg==") 2 0 stretch;
      border-width: 0px 0px 1px;

      */
  }
  .comment-li .favcount {
    float: right;
    color: #999;
    margin-right: 1rem;
    background: url(fav.png) no-repeat right center;
    background-size: auto 100%;
    padding-right: 20px;
    height: 20px;
    line-height: 24px;
    font-size: .8rem;
    font-style: italic;
  }

}
/**
下面的东东要迁走,放在公用代码中
*/
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.toast{
  left:0;
  top:0;
  right:0;
  bottom:0;
  position:fixed;
  z-index: 100;
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: .5s;
  font-size:1rem;
  >div{
    display: inline-block;
    border-radius: 20px;
    width:60%;
    min-height: 20px;
    padding:30px;
    color:#fff;
    border:solid 1px #ccc;
    background-color:rgba(0,0,0,.9);
  }
}
